<h1><%= "#{@todo.title}'s to-do items" %></h1>

<div class="index-page">
    <% @lists.each do |list| %>
        <br>
        <%= link_to list.title, todo_list_path(@todo, list) %>
    <% end %>
</div>