<h1><%= @todo.title %></h1>
<h2>Hello</h2>
<ul>
    <% @lists.each do |list|%>
    <li><%= link_to list.title, list_path(list[:id]) %></li>
    <% end %>
</ul>


<%= link_to "Back to list", todos_path %>